/* General Styling */
@import url('https://kirbygwapo-typeshi.github.io/meal-planner/');

body {
  font-family: 'Minecraft', 'Cuboid', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  background-image: url('zp.webp'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #4B0082;
  color: #fff;
  text-shadow: 0px 0px 10px #9400D3;
  font-size: 36px;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.meal-plan-form {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

form {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(147, 112, 219, 0.6);
  border: 2px solid #9400D3;
  font-family: 'Minecraft', 'Cuboid', sans-serif;
}

form label {
  font-size: 16px;
  color: #9400D3;
}

form select {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #0d0d0d;
  color: #fff;
  border: 2px solid #9400D3;
  border-radius: 5px;
}

form button {
  padding: 5px 10px;
  background-color: #9400D3;
  color: white;
  border: 2px solid #4B0082;
  cursor: pointer;
}
